.list {
  min-width: 90%;
  margin-top: 1rem;
  padding: 3rem 3rem;
  list-style: none;
  color: #fff;
  border: none;
  border-radius: 0.5rem;

  background-color: #487f63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list li {
  width: 100%;
  padding: 1rem 1rem;
  margin-top: 1rem;
  background-color: #fdf9f0;
  color: #000;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li img {
  margin-right: 2rem;
  width: 100px;
  border-radius: 50%;
}

.infos {
  width: 80%;
  min-width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos p {
  font-size: 1.3rem;
  min-width: 250px;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  margin-right: 1rem;
  background-color: #487f63;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
.button:hover {
  background-color: #518d6e;
}

.deletebutton {
  background-color: rgb(231, 35, 35);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
